{# Variable Twig contenant le nom de la route actuelle (pour le menu) #}
{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# TODO: Dynamiser le nom du site #}
    <title> {% block title %}  {% endblock %} - Le Blog de Batman </title>

    {# Inclusion Font-Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    {# Inclusion CSS Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    {# Inclusion Styles perso #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {# Bloc pour ajouter des fichiers css additionnels #}
    {% block css %}{% endblock %}

</head>
<body>

{# Navbar principale #}
<nav class="navbar navbar-expand-lg navbar-dark bg-black main-navbar">
    <div class="container-fluid">

        {# Logo et titre du site #}
        <a class="navbar-brand" href="{{ path('main_home') }}">
            {# TODO: dynamiser nom du site #}
            <img src="{{ asset('images/embleme-batman.png') }}" alt="" class="img-fluid main-navbar-logo">Le Blog de Batman
        </a>

        {# Bouton burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {# Paquet des boutons de gauche #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{{ route == 'main_home' ? ' active' }}" href="{{ path('main_home') }}"><i class="fas fa-home mx-1"></i>Accueil</a>
                </li>
            </ul>

            {# Paquet des boutons de droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {# Boutons si l'utilisateur est connecté #}
                {% if app.user %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="profil-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user mx-1"></i>{{ app.user.pseudonym }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profil-dropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
                        </div>
                    </li>

                    {# Boutons si l'utilisateur n'est pas connecté #}
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link{{ route == 'app_register' ? ' active' }}" href="{{ path('app_register') }}"><i class="fas fa-user-plus mx-1"></i>Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{ route == 'app_login' ? ' active' }}" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt mx-1"></i>Connexion</a>
                    </li>

                {% endif %}
            </ul>

            {# Formulaire de recherche #}
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Trouver un article" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>

    {# Affiche des messages flashes de succès (s'il y en a) #}
{% if app.session.flashBag.has('success') %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center col-12 my-3 alert-dismissible fade show fw-bold" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}

    {# Bloc pour affichier le contenu des pages #}
    {% block body %}  {% endblock %}



    {# Inclusion JS Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {# Bloc pour ajouter des fichiers js additionnels #}
    {% block js %} {% endblock %}
</body>
</html>